<main>
    <app-create-list></app-create-list>
    <br>

    <div class="card" *ngFor="let list of foQusLists; let i = index">
        <div class="card-header">
            {{list.name}}
            <button type="button" class="btn btn-danger" (click)="deleteList(list)" style="float: right;">
            Delete
            </button>

        </div>

        <div class="card-body">
            <p class="card-text bg-light" style="transform: rotate(0);">
                <a routerLink="/foquslist/{{list.id}}" class="stretched-link" style="transform: rotate(0);">
                    List {{list.id}}
                </a>
            </p>
        </div>
    </div>
</main>

<!-- Old component for modal removal  -->
<!-- <app-delete-list [list]="list"></app-delete-list> -->