<main>
    <app-create-list></app-create-list>
    <br>

    <div class="card" *ngFor="let list of foQusLists; let i = index">
        <div class="card-header">
            <div class="float-left">
                <h5 class="card-title">{{list.name}}</h5>
                <h6 class="card-subtitle mb-2 text muted">isPrivate : {{list.isPrivate}}</h6>
            </div>
            <button type="button" class="btn btn-danger float-right" (click)="deleteList(list)">
            Delete
            </button>

        </div>

        <a routerLink="/foquslist/{{list.id}}">
            <div class="card-body">
                <p class="card-text bg-transparent">List {{list.id}}</p>
            </div>
        </a>

    </div>
</main>

<!-- Old component for modal removal  -->
<!-- <app-delete-list [list]="list"></app-delete-list> -->