<main>
    <button (click)="goBack()">go back</button>
    <button (click)="updateListProperties()">Edit</button>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{foQusListName}}</h4>

            <form [formGroup]="foQusItemForm" (ngSubmit)="onSubmit()">
                <label>task name:
                    <input type="text" formControlName="itemName" />
                </label>
                <label>task description:
                    <input type="text" formControlName="itemDescription" />
                </label>
                <!-- (click) passes input value to add() and then clears the input -->
                <button type="submit">
                    Add
                </button>
            </form>

            <!-- <ul>
                    <li *ngFor="let item of foQusItems">
                        <input type="checkbox" />
                        <label>{{item.name}}</label>
                        <button class="delete" title="delete item" (click)="delete(item)">x</button>
                    </li>
                </ul> -->

            <div *ngFor="let item of foQusItems; let i = index;">
                <li *ngIf="!item.isComplete">
                    <input type="checkbox" (change)="iscompleted(item)" />

                    <a data-toggle="collapse" href="{{'#collapseExample'+item.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{item.name}}
                    </a>
                    <button class="delete" title="delete item" (click)="delete(item)">x</button>
                    <div class="collapse" id="{{'collapseExample'+item.id}}">
                        <div class="card card-body">
                            {{!item.description ? 'no description' : item.description}}
                        </div>
                    </div>
                </li>

            </div>


        </div>

        <div class="card-body">
            <h4 class="card-title"> Done </h4>
            <div *ngFor="let item of foQusItems; let i = index;">
                <li *ngIf="item.isComplete">
                    <input type="checkbox" (change)="iscompleted(item)" checked />

                    <a data-toggle="collapse" href="{{'#collapseExample'+item.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{item.name}}
                    </a>
                    <button class="delete" title="delete item" (click)="delete(item)">x</button>
                    <div class="collapse" id="{{'collapseExample'+item.id}}">
                        <div class="card card-body">
                            {{!item.description ? 'no description' : item.description}}
                        </div>
                    </div>
                </li>

            </div>
        </div>


        <div class="container" *ngIf="updateInfo">

            <div class="card">

                <div class="card-header">
                    <h5 class="card-title">Update List Information</h5>
                    <h6 class="card-subtitle mb-2 text muted">Need to be different fields and non empty</h6>
                </div>

                <div class="card-body">
                    <form [formGroup]="foQusItemUpdateForm" (ngSubmit)="sendUpdate()">
                        <label>list name:
                            <input type="text" formControlName="itemName" />
                        </label>

                        <label>isPrivate:
                            <input type="checkBox" formControlName="isPrivate" />
                        </label>
                        <!-- (click) passes input value to add() and then clears the input -->
                        <button type="submit">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>