<main>
    <!-- <button (click)="goBack()">go back</button> -->

    <div class="container">
        <div class="container">
            <h1>Browse</h1>
            <!-- Search form -->
            <form [formGroup]="searchItemForm" class="form-inline waves-light" mdbWavesEffect (ngSubmit)="search()">
                <div class="md-form mt-0">
                    <input formControlName="itemName" class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="container" *ngIf="anyResults">
            <h1>Results</h1>

            <div class="card" *ngFor="let list of searchResults; let i = index">

                <div class="card-header">
                    {{list.name}}
                </div>

                <a routerLink="/foquslist/{{list.id}}">
                    <div class="card-body">
                        <p class="card-text bg-transparent">List {{list.id}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>